* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.192);
}

.box {
    font-size: 2rem;
    font-family: sans-serif;
    background-color: black;
    border-radius: 12px;
    color: white;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.count,
.cps {
    font-size: 2rem;
    font-family: sans-serif;
    /* margin: 1.4rem 0; */
}

.buttons button {
    padding: 1rem 1.2rem;
    margin: 1.4rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: black;
    color: white;
}

.buttons button:hover {
    background-color: rgb(138, 131, 131);
    transition: 0.2s;
    transform: scale(1.2);
}

.timer {
    font-size: 1rem;
}
